# Protect branches main and develop with these rules:
# - Merge to main branch allowed if only owner approved PR
# - Assign the user softservedata as the code owner for all the files in the main branch
* @devopsbycall




